<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Footer -->
					<div class="single-widget footer-about">
						<h2>Office Location</h2>
						<p>Quisque nec nunc libero fringilla mollis. Nulla quis orci luctus augue. Vestibulum dapibus, </p>
						<ul class="list">
							<li><i class="fa fa-map-marker"></i>Sacré Coeur 3 - VDN, Dakar</li>
							<li><i class="fa fa-headphones"></i><span>Phone:</span> (221) 76 847 4202</li>
							<li><i class="fa fa-envelope"></i><span>Email:</span> <a href="mailto:contact@2kvisiongroup.com">contact@2kvisiongroup.com</a></li>
						</ul>
						<a href="#" class="elena-btn bordered radius">En savoir plus</a>
					</div>
					<!--/ End Single Footer -->
				</div>

				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Footer -->
					<div class="single-widget lists">
						<h2>Liens Utiles</h2>
						<ul class="list">
							<li><a href="#"><i class="fa fa-long-arrow-right"></i>2K Vision Group</a></li>
							<li><a href="#"><i class="fa fa-long-arrow-right"></i>Notre Equipe</a></li>
							<li><a href="#"><i class="fa fa-long-arrow-right"></i>Dernieres infos</a></li>
							<li><a href="#"><i class="fa fa-long-arrow-right"></i>Nos Services</a></li>
							<li><a href="#"><i class="fa fa-long-arrow-right"></i>Nous contacter</a></li>
						</ul>
					</div>
					<!--/ End Single Footer -->
				</div>
				
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Footer -->
					<div class="single-widget subscribe">
						<h2>S'abonner</h2>
						<p>All users on MySpace will know that there are millions of people out there. So subscribe now</p>
						<!-- Subscribe -->
						<form>
							<input type="email" placeholder="Adresse mail">
							<button class="elena-btn primary theme-1" type="submit">Envoyer<i class="fa fa-envelope"></i></button>
						</form>	
					</div>
					<!--/ End Single Footer -->
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<p class="text">&copy; Copyright 2022. Conçu & dévéloppé par<a href="#">2K Vision Group</a></p>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Social -->
					<ul class="social">
						<li><a href="https://www.facebook.com/2kvisiongroup-204077460532182"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/2kvisionG"><i class="fa fa-twitter"></i></a></li>
						<li class="active"><a href="https://www.linkedin.com/company/2kvisiongroup"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>