{% extends "main.html.twig" %}

{% block body %}
  {# Breadcrumbs #}
	<section class="breadcrumbs" style="background-image:url('images/Banner-1.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 pt-4">
					{# <h2>Team Information</h2> #}
					<ul class="bread-list pt-2 mt-5">
						<li><a href="{{ path('home') }}">Home</a></li>
						<li class="active"><a href="{{ path('team') }}">Team</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="team section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-2 col-md-8 offset-md-2 col-12">
					<div class="section-title">
						<span class="title-bg">Fondateurs</span>
						<h1>Nos Fondateurs</h1>
						<p>Nam eleifend, turpis ac laoreet tincidunt, arcu purus ultricies nisl, quis molestie nibh lacus et dui. Nunc efficitur turpis lorem, bibendum dictum libero ornare a. Proin quis metus massa.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/none.jpg" alt="#">
							<div class="member-name">
								<h4>Ousseynou</h4>
								<p>CEO 2K Vision Group</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/makhtar.jpeg" alt="#">
							<div class="member-name">
								<h4>Makhtar Diagne</h4>
								<p>Responsable Technique</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/none.jpg" alt="#">
							<div class="member-name">
								<h4>Medoune</h4>
								<p>Directeur de Projet</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/madaour.jpeg" alt="#">
							<div class="member-name">
								<h4>Madaour</h4>
								<p>Resposable Commercial</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/none.jpg" alt="#">
							<div class="member-name">
								<h4>Yakhouba</h4>
								<p>Responsable Architecture</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-2 col-md-8 offset-md-2 col-12 mt-5 pt-4">
					<div class="section-title">
						<span class="title-bg">Membres</span>
						<h1>Nos Membres</h1>
						<p>Nam eleifend, turpis ac laoreet tincidunt, arcu purus ultricies nisl, quis molestie nibh lacus et dui. Nunc efficitur turpis lorem, bibendum dictum libero ornare a. Proin quis metus massa.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/mamoune.png" alt="#">
							<div class="member-name">
								<h4>Mamoune Diop</h4>
								<p>Dévéloppeur web Fullstack</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/awa.jpeg" alt="#">
							<div class="member-name">
								<h4>Ndeye Awa Dramé</h4>
								<p>Business Developer</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Team -->
					<div class="single-team">
						<!-- Team Head -->
						<div class="team-head">
							<img src="images/team/adoum.png" alt="#">
							<div class="member-name">
								<h4>Adoum Achekh</h4>
								<p>Dévéloppeur web Fullstack</p>
							</div>
							<div class="team-text">
								<p>Community, there are many others who will be looking out for friends. This will mean that they are naturally looking out for good people who</p>
							</div>
						</div>
						<!-- Team Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!--/ End Team -->
				</div>
			</div>
		</div>
	</section>
{% endblock %}